/*colors {*/
/*   darkblue: #003366;*/
/*    lightblue: #3399FF;*/
/*    yellow: #FFCC99;*/
/*    orange: #FF9966;*/
/*}*/

body {
    font-family: Helvetica, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
}

.register-form {
    text-align: left;
}

.form-control {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    border-width: 0.5px;
    padding: 14px;
    width: 100%;
}

.label-1 {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}

.label-2 {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-left: 25px;
}

.form-number {
    width: 20%;
}

.btn-primary {
    background-color: dodgerblue;
    border-radius: 400px;
    padding: 16px 48px;
    position: relative;
    font-weight: 700;
    line-height: 24px;
    border: none;
}

.btn-primary:hover{
    background-color: royalblue;
    border-radius: 400px;
    padding: 16px 48px;
    position: relative;
    font-weight: 700;
    line-height: 24px;
    border: none;
}

.btn-secondary {
    background-color: #FFCC99;
    text-decoration: none;
    border-radius: 400px;
    padding: 16px 48px;
    position: relative;
    font-weight: 700;
    line-height: 24px;
    border: none;
}


input[type=range] {
    width: 100%;
}
