{% extends "base.html" %}
{% block title %} Users {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Users</h1>
    <div class="container col-6 d-flex justify-content-center">
        <table class="table table-responsive" style="text-align: center">
            <tr>
                <th>User Id</th>
                <th>User Name</th>
            </tr>
            {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}