{% extends "base.html" %}
{% block title %} Encryption {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <h1>Encryption</h1>
    <div>
        <h4>Hello {{user_name}}!</h4>
    </div>
    <p>{{error}}</p>
    <form class="encryption-form" action="/result" method="POST">
        <div>
            <input id="caesar" type="radio" name="encryption_base" value="caesar" checked>
            <label class="label-1" for="caesar">Caesar Encryption</label>
        </div>
        <div>
<!--            <label class="label-2" for="shift">Shift (1-1024)</label>-->
<!--            <input class="form-number" id="shift" type="number" name="shift" min="1" max="1024">-->
            {{ form.shift.label }}
            {{ form.shift }}
        </div>
        <div>
            <input id="mono" type="radio" name="encryption_base" value="mono">
            <label class="label-1" for="mono">Monoalphabetic Substitution</label>
        </div>
        <div class="form-group col-lg-4 mx-auto mt-4">
<!--            <label class="label-1" for="user_input" hidden>Input</label>-->
<!--            <input id="user_input" name="user_input" type="text" class="form-control" required autofocus value="abc" placeholder="Type your word to encrypt here"><br>-->
            {{ form.user_input.label }}
            <div>
                {{ form.user_input }}
            </div>

        </div>
        <div>
            <button class="btn btn-primary mt-4" type="submit">Encrypt</button>
        </div>
    </form>
{% endblock %}