<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <title>Encryption</title>
</head>
<body>
<h1>Encryption</h1>
<p>Hello {{user_name}}!</p>
<form class="encryption-form" action="/result" method="POST">
    <div>
        <input id="user_name" type="text" name="user_name" value="{{user_name}}" hidden>
        <label class="label-1" for="user_name" hidden>user_name</label>
    </div>
    <div>
        <input id="caesar" type="radio" name="encryption_base" value="caesar" checked>
        <label class="label-1" for="caesar">Caesar Encryption</label>
    </div>
    <div>
        <label class="label-2" for="shift">Shift (1-1024)</label>
        <input class="form-number" id="shift" type="number" name="shift" min="1" max="1024">
    </div>
    <div>
        <input id="mono" type="radio" name="encryption_base" value="mono">
        <label class="label-1" for="mono">Monoalphabetic Substitution</label>
    </div>
    <div>
        <label class="label-1" for="user_input" hidden>Input</label>
        <input id="user_input" name="user_input" type="text" class="form-control" required autofocus value="abc" placeholder="Type your word to encrypt here"><br>
    </div>
    <br>
    <div>
        <button class="btn-primary" type="submit">Encrypt</button>
    </div>
</form>
</body>
</html>