<html>
    <footer class="footer">
        <div class="col-6 col-md">
            <h5>Team Members</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted">Lina Alisa Stockmann</a></li>
                <li><a class="text-muted">Nina Böhm</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Submission</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted">12 February 2022</a></li>
                <li><a class="text-muted">Major in Programming</a></li>
                <li><a class="text-muted">HTW Berlin - Environmental Computer Science</a></li>
            </ul>
        </div>
    </footer>
    {% block content %} {% endblock %}
</html>
