<html>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="../static/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 px-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="/encryption">Encrypt <span class="sr-only">🦄</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">Insights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</html>
