<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encrypter</title>
</head>
<body>
    <h1>Welcome to the Encrypter!</h1>
    <form name="encryption-term">
        <input type="text" name="userInput" id="userInput" placeholder="Type your word to encrypt here">
    </form>

    <ul>
        <li>Caesar Encryption</li>
        <li>Monoalphabetic Substitution Encryption</li>
        <li>About</li>
    </ul>
</body>
</html>