<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to encrypt-app!</h1>
    <form class="login-form" action="/encryption" method="GET">
        <div>
            <label class="label-1" for="username">Username</label>
            <input id="username" type="text" class="form-control" required autofocus placeholder="username"><br>
        </div>
        <br>
        <div>
            <button class="btn-primary" type="submit">Login</button>
        </div>
    </form>
</body>
</html>